body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* #0D2B4F */
nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #320068;
    box-shadow: 5px 5px 15px #888888
}

nav .logo-brand a img {
    width: 60px;
    height: 55px;
    margin-left: 20px;

}

nav ul li a {
    text-decoration: none;
    margin-left: 15px;
    color: white;

}

nav ul {
    margin-right: 100px;
}

nav h3 span {
    /* margin-right: 550px; */
    color: white;
}

nav h3 span a {
    /* margin-right: 550px; */
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

nav h3 {
    /* margin-right: 550px; */
    margin-right: 300px;
}

nav ul {
    display: flex;
    list-style: none;
}

#searchInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    font-size: 16px;

}

/* Style for the search button */
#searchButton {
    padding: 10px 20px;
    background-color: whitesmoke;
    color: #320068;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    /* Add some space between input and button */
}

/* Change button color on hover */
#searchButton:hover {
    background-color: #320068;
    color: white;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;

}

.carousel img {
    margin-top: 20px;
    margin-bottom: 30px;
}

h1 {
    margin: 20px;
}

p {
    margin: 20px;
}

form {
    margin: 20px;
}

footer{
    text-align: center;
    align-items: center;;
    width: 100%;
    background-color:#320068 ;
    color: white;
    height: 50px;
}
