html body {
    margin: 0;
    padding: 0;
    display: grid;
}

header {
    grid-area: header;
    background-color: purple;
    padding: 2%;
}

aside {
    grid-area: aside;
    background-color: green;
    padding: 37%;
}

nav {
    grid-area: nav;
    background-color: magenta;
    padding: 23%;
}

main {
    grid-area: main;
    background-color: blue;
    padding: 11%;
}

footer {
    grid-area: footer;
    background-color: yellowgreen;
    padding: 20px;
}

a {
    display: grid;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: 'header header header'
        'aside main main'
        'nav main main'
        'footer footer footer';
    grid-template-columns: 0.5fr 2fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 1fr;
    border: 2px solid black;
}